@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

/* Raleway */
@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  font-weight: normal;
  background-color: #FFFFFF;
  color: #444444;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
}

.main-logo {
  display: block;
  margin-left: 60px;
}

.navigations {
  background-color: #FFE17F;
  padding-left: 60px;
  padding-right: 60px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 1040px;
  list-style-type: none;
}

.navigation-item:first-of-type {
  margin-right: auto;
}

.navigation-link {
  display: block;
}

.navigation-user .navigation-link {
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 46px;
  padding-right: 23px;
  min-height: 19px;
  min-width: 48px;
}

.main-navigation .navigation-link {
  padding: 14px 20px 15px;
}

.navigation-link,
.output-button,
.breadcrumbs-link {
  color: #000000;
  text-decoration: none;
}

.navigation-user,
.output-button
.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.main-navigation,
.footer-center {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
}

.index-column {
  display: flex;
  justify-content: space-between;
}

.card-product {
  margin-bottom: 70px;
}

.card-gallery {
  width: 560px;
}

.card-description {
  width: 560px;
}

.card-description .large-text {
  margin-bottom: 25px;
}

.card-text-description {
  margin: 0;
  margin-bottom: 50px;
}

.card-number {
  width: 1160px;
  min-height: 180px;
  margin: 0 auto;
  background-color: #FFE17F;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 180px;
}

.nuber-of-card {
  width: 210px;
  height: 180px;
  display: block;
  margin-right: 49px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 0px;
}

.large-text {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
}

.info-button {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.first-row {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.second-row {
  font-size: 16px;
}

.categories {
  margin-bottom: 70px;
}

.categories-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.categories-item {
  width: 160px;
  padding-top: 193px;
}

.categories-link {
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-decoration: none;
}

.conditions {
  display: flex;
  justify-content: flex-start;
  background-color: #F0F0F0;
  padding-top: 70px;
  margin-bottom: 70px;
}

.conditions-menu {
  width: 280px;
  margin-top: 10px;
}

.conditions-list {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 160px;
}

.conditions-item {
  margin-bottom: 45px;
}

.conditions-item:first-of-type {
  background-color: #000000;
}

.conditions-menu-first-link {
  color: #FFE17F;
}

.delivery {
  width: 500px;
  margin-left: 117px;
}

.delivery-description {
  margin: 0;
}

.delivery-rare-goods {
  background-color: #F0F0F0;
  min-height: 100px;
  padding-top: 37px;
  padding-left: 320px;
  margin-bottom: 100px;
}

.delivery-rare-goods .section-title {
  margin: 0;
  margin-bottom: 35px;
}

.delivery-rare-goods-button {
  width: 500px;
}

.rare-goods {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.about-us-column {
  justify-content: flex-start;
  margin-bottom: 80px;
}

.about-us {
  width: 500px;
  margin-right: 70px;
}

.about-us-list {
  margin-bottom: 70px;
}

.about-us-item {
  line-height: 20px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
}

.about-us-item:last-child {
  margin-bottom: 0;
}

.about-us-text {
  margin: 0;
  margin-bottom: 30px;
}

.about-us-text:last-of-type {
  margin-bottom: 75px;
}

.section-title {
  margin: 0;
  margin-bottom: 46px;
}

.section-subtitle {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 30px;
}

.contacts {
  width: 520px;
}

.contacts .section-subtitle {
  margin-bottom: 15px;
}

.contacts-text {
  margin-top: 0;
  margin-bottom: 25px;
}

.contacts-address {
  margin-bottom: 30px;
}

.contacts-address-text {
  margin: 0;
}

.contacts-schedule {
  padding: 0;
  margin: 0;
  margin-bottom: 70px;
  list-style-type: none;
}

.newsletter {
  padding-top: 75px;
  padding-bottom: 80px;
  background-color: #F0F0F0;
}

.newsletter-first-column {
  justify-content: flex-start;
  margin-bottom: 75px;
}

.tagline {
  width: 350px;
  margin-right: 250px;
}

.newsletter-text {
  margin: 0;
}

.page-footer {
  padding-top: 61px;
  padding-bottom: 60px;
}

.page-footer-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.footer-left {
  width: 250px;
  margin-right: 115px;
}

.footer-logo {
  margin-bottom: 35px;
}

.footer-center {
  width: 440px;
  padding-top: 75px;
}

.second-footer-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-list,
.footer-social-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.first-footer-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 63px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.footer-right {
  width: 200px;
  padding-top: 71px;
  margin-left: auto;
}

.contacts-address,
.footer-address {
  font-style: normal;
}

.footer-phone {
  display: block;
  margin-bottom: 60px;
}

.contacts-phone {
  color: #444444;
}

.main-inner {
  padding-top: 37px;
  background-color: #FFFFFF;
  color: #000000;
}

.inner-header {
  margin-left: 60px;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 14px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 49px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  margin-right: 36px;
}

.catalog-products {
  display: flex;
}

.grey-area-first {
  width: 200px;
  margin-right: 70px;
  background-color: #E5E5E5;
}

.sorting-container {
  display: flex;
  background-color: #EBEBEB;
  margin-bottom: 69px;
  padding: 25px 72px;
}

.sorting-type {
  margin-right: auto;
}

.button-up,
.button-down {
  width: 11px;
  height: 10px;
}

.dark-grey-area {
  background-color: #DCDCDC;
}

.catalog-right-column {
  width: 760px;
}

.catalog-filters-name {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.catalog-filters-title {
  line-height: 20px;
  font-weight: bold;
}

.price-sorting {
  font-size: 15px;
  line-height: 18px;
}

.control-label,
.select-control {
  font-size: 16px;
  line-height: 19px;
}

.product-list {
  list-style-type: none;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
}

.product-card-title {
  line-height: 24px;
  font-weight: bold;
}

.product-card-price {
  line-height: 21px;
  color: #444444;
}

.download-more {
  width: 760px;
  padding: 15px;
  margin-bottom: 50px;
}

.pagination-container {
  display: flex;
  padding: 25px 30px;
  margin-bottom: 77px;
  background-color: #EBEBEB;
}

.pagination-item:not(:last-child) {
  margin-right: 25px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  text-decoration: none;
}

.pagination-show-more,
.pagination-prev,
.pagination-next {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
}

.page-footer,
.page-footer a {
  background-color: #444444;
  color: #FFFFFF;
  text-decoration: none;
}

.footer-phone {
  font-size: 16px;
}
