@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

/* Raleway */
@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  font-weight: normal;
  background-color: #FFFFFF;
  color: #444444;
  overflow-x: hidden
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
  background: linear-gradient(to bottom, #ffffff 40px, #FFE17F 40px);
}

.main-logo {
  display: inline-block;
  margin-left: 61px;
  margin-top: 17px;
  margin-bottom: 17px;
}

.navigations {
  margin-left: 45px;
  margin-right: 40px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user .navigation-item {
  position: relative;
}

.navigation-user .navigation-item:not(:last-of-type) {
  margin-right: 16px;
}

.navigation-user .navigation-item:nth-of-type(2) {
  margin-right: auto;
}

.navigation-link {
  display: block;
}

.navigation-user {
  position: relative;
  padding-left: 4px;
  margin-bottom: 18px;
}

.search-form {
  position: relative;
  height: 40px;
  width: 516px;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 20px;
}

.search-field,
.search-button {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: transparent;
}

.search-field {
  color: rgba(0, 0, 0, 0.3);
  width: 354px;
  padding-left: 49px;
  background-image: url("../img/icons/search.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center left 15px;
  border: none;
  outline: none;
}

input[type="search"]:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.link-search:focus .search-form {
  border-color: #AF4FFF;
}

.search-form:active,
.search-form:active .search-field {
  border-color: #000000;
  color: #000000;
}

.search-button {
  border: 2px solid #000000;
  position: absolute;
  top: -2px;
  border-radius: 0px 20px 20px 0px;
  box-sizing: border-box;
  width: 160px;
}

.search-button:hover {
  background-color: #000000;
  color: #ffffff;
  border-color: #000000;
}

.search-button:focus {
  border-color: #AF4FFF;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  border-color: #000000;
}

input:placeholder-shown ~ button[type="submit"] {
  display: none;
}

.navigation-user .navigation-link {
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 42px;
  padding-right: 21px;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 25px;

  background-repeat: no-repeat;
  background-position: center left 20px;
}

.navigation-user .navigation-link:hover {
  opacity: 0.6;
}

.navigation-user .navigation-link:focus {
  border-color: #AF4FFF;
}

.navigation-user .navigation-link:active {
  opacity: 0.3;
}

.link-user {
  background-image: url("../img/icons/user.svg");
  background-size: 13px 12px;
}

.link-compare {
  background-image: url("../img/icons/compare.svg");
  background-size: 10px 12px;
}

.link-cart {
  position: relative;
  background-image: url("../img/icons/cart.svg");
  background-size: 16px 14px;
}

.link-cart::before {
  position: absolute;
  content: attr(data-amount);
  top: 12px;
  left: 5px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #ffffff;
  align-items: center;
  text-align: center;

  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 21px;
}

.main-navigation .navigation-link {
  padding: 14px 20px 15px;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 25px;
}

.main-navigation .navigation-item:nth-of-type(3) {
  margin-left: -13px;
}

.main-navigation .navigation-item:last-of-type {
  margin-right: -23px;
  margin-left: 45px;
}

.navigation-first-item {
  position: relative;
  margin-right: 272px;
  margin-left: -10px;
}

.navigation-first-link {
  width: 272px;
}

.catalog-button {
  position: absolute;
  padding: 15px;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.3;
  top: 0;
  left: 272px;
}

.catalog-button:hover {
  opacity: 1;
  fill: transparent;
  background-image: url("/img/icons/catalog-minus.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.catalog-button:active {
  opacity: 0.3;
  fill: transparent;
  background-image: url("/img/icons/catalog-minus.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.main-navigation .navigation-link:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}

.main-navigation .navigation-link:focus {
  border-color: #AF4FFF;
}

.main-navigation .navigation-link:active {
  text-decoration: underline;
  text-underline-offset: 8px;
  opacity: 0.3;
}

.main-navigation .navigation-first-link:hover {
  text-decoration: none;
}

.navigation-link,
.output-button,
.breadcrumbs-link {
  color: #000000;
  text-decoration: none;
}

.navigation-user,
.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
}

.navigation-item:focus-within .subcatalog {
  display: block;
}

.navigation-item:focus-within .subcatalog-menu {
  display: flex;
}

.subcatalog-menu {
  position: absolute;
  display: none;
  min-height: 180px;
  width: 1125px;
  background-color: #FFE17F;
  margin-left: -35px;
  padding-left: 35px;
  z-index: 2;
}

.subcatalog {
  display: none;
  margin: 0;
  margin-top: 33px;
  padding: 0;
  list-style-type: none;
}

.subcatalog:first-of-type {
  margin-right: 46px;
}

.subcatalog:nth-of-type(2) {
  margin-right: 59px;
}

.subcatalog-item {
  margin-bottom: 15px;
}

.subcatalog-link {
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-transform: none;
  letter-spacing: normal;
  color: #000000;
  padding: 1px 15px 3px;
  border: 2px solid transparent;
  border-radius: 25px;
}

.subcatalog-link:hover {
  opacity: 0.6;
}

.subcatalog-link:focus {
  border-color: #AF4FFF;
}

.subcatalog-link:active {
  opacity: 0.3;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.linear-card-background {
  background: linear-gradient(to bottom,  #FFE17F 150px, #ffffff 150px);
}

.background-linear-container {
  background: linear-gradient(to bottom, #ffffff 110px, #F0F0F0 110px);
}

.background-container {
  background-color: #F0F0F0;
}

.background-filter-container {
  width: 328px;
  padding-left: 60px;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #DCDCDC 70px, #EBEBEB 70px);
}

.background-inner-container {
  width: 832px;
  background: linear-gradient(to bottom, #EBEBEB 70px, #ffffff 70px);
}

.background-filter-container::before {
  position: absolute;
  content: '';
  background: linear-gradient(to bottom, #DCDCDC 70px, #EBEBEB 70px);
  width: 100vw;
  height: 100%;
  z-index: -1;
  left: -50%;
}

.background-inner-container::before {
  position: absolute;
  content: '';
  background: linear-gradient(to bottom, #EBEBEB 70px, #ffffff 70px);
  width: 100vw;
  height: 100%;
  z-index: -1;
  right: -50%;
}

.main-navigation,
.footer-center {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
}

.main-navigation {
  letter-spacing: 0.2em;

}

.inner-navigations .main-navigation {
  margin-bottom: 35px;
}

.index-column {
  display: flex;
  justify-content: flex-end;
}

.card-product {
  margin-bottom: 70px;
}

.card-gallery {
  position: relative;
  width: 560px;
  margin-right: 40px;
}

.slider-image {
  display: block;
}

.slider-controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.card-description {
  width: 560px;
}

.slider-button {
  width: 40px;
  height: 80px;
  color: #000000;
  background-color: transparent;
  background-image: url("/img/icons/slider-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 6px;
  cursor: pointer;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:focus {
  border-color: #AF4FFF;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-next {
  transform: rotate(180deg);
}

.card-description .large-text {
  position: relative;
  margin-top: 121px;
  margin-bottom: 25px;
  z-index: 1;
}

.card-description .large-text::after {
  position: absolute;
  content: '';

  font-family: "Rubik", sans-serif;
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  color: #FFFFFF;

  z-index: -1;
  top: -40px;
  right: 50px;
}

.card-one .large-text::after {
  content: '01';
}

.card-two .large-text::after {
  content: '02';
}

.card-three .large-text::after {
  content: '03';
}

.card-text-description {
  margin: 0;
  margin-bottom: 40px;
}

.large-text {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
}

.card-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.info-button {
  display: inline-block;
  border: none;
  width: 260px;
  height: 50px;
  padding-top: 14px;
  box-sizing: border-box;
  background: linear-gradient(to bottom, transparent 21px, #FFE17F 21px, #FFE17F 29px, transparent 29px);

  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.2em;
  text-decoration: none;
}

.card-details {
  width: 220px;
}

.info-button:hover {
  background-color: #FFE17F;
}

.info-button:focus {
  background: linear-gradient(to bottom, transparent 21px, #AF4FFF 21px, #AF4FFF 29px, transparent 29px);
}

.info-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider-pagination {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-pagination-item {
  margin: 0 11px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:focus {
  border-color: #AF4FFF;
}

.slider-pagination-button:active {
  border-color: #000000;
  opacity: 0.3;
}

.slider-button-current {
  background-color: #000000;
}

.specifications-table {
  border-spacing: 20px 11px;
  margin-left: -20px;
}

.first-row {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.second-row {
  font-size: 16px;
}

.categories {
  margin-bottom: 70px;
}

.categories-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.categories-item {
  width: 160px;
}

.categories-img-wrapper {
  position: relative;
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  box-sizing: border-box;
  margin-bottom: 25px;
}

.categories-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.second-categories-img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 43px;
}

.categories-link {
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-decoration: none;
  letter-spacing: -0.02em;
}

.categories-link:hover .categories-img-wrapper {
  background-color: #FFC700;
}

.categories-link:active img {
  opacity: 0.3;
}

.categories-link:focus .categories-img-wrapper {
  outline: 5px solid #AF4FFF;
}

.categories-name {
  display: inline-block;
  width: 160px;
}

.current-tab {
  display: flex;
  justify-content: flex-start;
}

.conditions {
  position: relative;
  padding-top: 80px;
  margin-bottom: 85px;
}

.conditions::after {
  content: '';
  position: absolute;
  width: 7px;
  background-color: #000000;
  top: 0;
  bottom: 69px;
  left: 276px;
}

.conditions-menu {
  width: 280px;
  margin-top: 15px;
}

.conditions-list {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 160px;
}

.conditions-item {
  height: 40px;
  margin-bottom: 25px;

  background: linear-gradient(to bottom, transparent 16px, #FFC700 16px, #FFC700 24px, transparent 24px);
  padding-top: 5px;
  box-sizing: border-box;
}

.current-condition {
  position: relative;
  background: #000000;
}

.conditions-item:hover {
  background-color: #FFC700;
}

.conditions-item:focus {
  background: linear-gradient(to bottom, transparent 16px, #AF4FFF 16px, #AF4FFF 24px, transparent 24px);
}

.conditions-menu-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.current-condition::after {
  position: absolute;
  content: '';
  height: 40px;
  width: 120px;
  top: 0;
  right: -119px;
  background-color: #000000;
}

.conditions-item:active {
  background: #000000;
}

.current-condition .conditions-menu-link,
.conditions-item:active .conditions-menu-link {
  color: #FFE17F;
}

.delivery {
  position: relative;
  width: 500px;
  margin-left: 120px;
}

.delivery::before {
  position: absolute;
  content: '';
  left: 560px;
  top: 15px;
}

.first-tab .delivery::before {
  width: 136px;
  height: 164px;
  background-size: 136px 164px;
  background-image: url("../img/icons/delivery-man.svg");
}

.second-tab .delivery::before {
  width: 171px;
  height: 195px;
  background-size: 171px 195px;
  background-image: url("/img/icons/warranty.svg");
}

.third-tab .delivery::before {
  width: 156px;
  height: 188px;
  background-size: 156px 188px;
  background-image: url("/img/icons/credit.svg");
}

.delivery-description {
  margin: 0;
  margin-bottom: 144px;
}

.delivery-rare-goods {
  position: relative;
  background: linear-gradient(to right, #FFE17F 125px, #F0F0F0 125px);
  min-height: 100px;
  padding-top: 40px;
  margin-bottom: 100px;
  box-sizing: border-box;
}

.delivery-rare-goods-button {
  position: relative;
  text-align: center;
}

.info {
  position: absolute;
  top: -8px;
  right: 33px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: rgba(220, 220, 220, 0.5);

  background-image: url("/img/icons/info-i.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2px 12px;
}

.rare-goods-img {
  position: absolute;
  content: '';
  width: 47px;
  height: 31px;
  left: 39px;
}

.rare-goods-link {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  color: #000000;
  box-sizing: border-box;
}

.delivery-rare-goods:hover {
  background: linear-gradient(to right, #FFC700 125px, #F0F0F0 125px);
}

.delivery-rare-goods:hover .info {
  background-image: url("/img/icons/info-i-black.svg");
}

.rare-goods-link:focus {
  outline: 5px solid #AF4FFF;
  outline-offset: 35px;
}

.delivery-rare-goods:active .rare-goods-link,
.delivery-rare-goods:active .rare-goods-img {
  opacity: 0.3;
}

.about-us-column {
  justify-content: flex-start;
  margin-bottom: 70px;
  padding-top: 50px;
}

.about-us {
  width: 500px;
  margin-right: 100px;
}

.about-us .section-title {
  margin-bottom: 50px;
}

.about-us-list li {
  color: #FFC700;
}

.about-us-list li > span{
  color: #000000;
}

.about-us-list {
  margin-bottom: 60px;
}

.about-us-item {
  line-height: 20px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
}

.about-us-item:last-child {
  margin-bottom: 0;
}

.about-us-text {
  margin: 0;
  margin-bottom: 30px;
}

.about-us-text:last-of-type {
  margin-bottom: 75px;
}

.section-title {
  margin: 0;
  margin-bottom: 36px;
}

.section-subtitle {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 30px;
}

.contacts {
  width: 520px;
}

.contacts .section-title {
  margin-bottom: 48px;
}

.contacts .section-subtitle {
  margin-bottom: 15px;
}

.contacts-text {
  margin-top: 0;
  margin-bottom: 35px;
}

.contacts-address {
  margin-bottom: 30px;
}

.contacts-address-text {
  margin: 0;
}

.contacts-schedule {
  padding: 0;
  margin: 0;
  margin-bottom: 55px;
  list-style-type: none;
}

.newsletter {
  padding-top: 75px;
  padding-bottom: 120px;
  background-color: #F0F0F0;
}

.newsletter-first-column {
  justify-content: flex-start;
  margin-bottom: 65px;
}

.newsletter-second-column {
  justify-content: space-between;
}

.tagline {
  width: 350px;
  margin-right: 250px;
}

.newsletter-text {
  padding-top: 10px;
  margin: 0;
}

.newsletter-form {
  display: flex;
}

.field {
  width: 601px;
  height: 52px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0;
  margin-right: -5px;

  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  opacity: 0.5;
}

.field:hover {
  border-color: rgba(0, 0, 0, 0.2);
}

.field:focus {
  background-color: #DCDCDC;
  outline: none;
}

.field:active {
  opacity: 1;
  color: #444444;
  border-color: #000000;
}

.newsletter-form input[type="email"]:disabled {
  border-color: #FF3D3D;
}

.newsletter-button {
  width: 260px;
  height: 55px;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.newsletter-button:hover {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}

.newsletter-button:focus {
  border-color: #AF4FFF;
}

.newsletter-button:active {
  background-color: #000000;
  border-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.page-footer {
  padding-top: 61px;
  padding-bottom: 60px;
}

.page-footer-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.footer-left {
  width: 270px;
  margin-right: 95px;
}

.footer-logo {
  margin-bottom: 35px;
}

.footer-center {
  width: 440px;
  padding-top: 65px;
}

.second-footer-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-list,
.footer-social-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.first-footer-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}

.footer-right {
  width: 215px;
  padding-top: 71px;
  margin-left: auto;
  margin-right: -17px;
}

.contacts-address,
.footer-address {
  font-style: normal;
}

.footer-address {
  position: relative;
  font-size: 16px;
  line-height: 19px;
}

.footer-address::before {
  position: absolute;
  width: 80px;
  height: 7px;
  bottom: -40px;
  background-color: #FFC700;
  content: '';
}

.contacts-phone {
  color: #444444;
}

.free-text {
  position: relative;
}

.free-text::before {
  position: absolute;
  content: '';
  width: 14px;
  height: 14px;
  background-size: 14px 14px;
  background-image: url("../img/icons/check-mark.svg");
  left: -35px;
  top: 8px;
}

.navigation-user .output-item {
  position: absolute;
  top: 0;
  right: 270px;
}

.output-button {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  line-height: 19px;
  opacity: 0.3;
  background-color: transparent;
}

.main-inner {
  position: relative;
  padding-top: 37px;
  color: #000000;
}

.inner-header {
  margin-left: 60px;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 14px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 49px;
  padding: 0;
  list-style-type: none;
  opacity: 0.6;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:first-of-type)::before {
  position: absolute;
  content: '';
  width: 4px;
  height: 7px;
  background-size: 4px 7px;
  background-image: url("/img/icons/arrow.svg");
  top: 13px;
  left: -17px;
}

.breadcrumbs-link {
  margin-right: 36px;
}

.dark-grey-area {
  width: 328px;
  height: 70px;
  padding-top: 20px;
  box-sizing: border-box;
}

.show-more-button,
.delivery-submit-button {
  border: none;
  width: 200px;
  background: linear-gradient(to bottom, transparent 7px, #FFC700 7px, #FFC700 7px, #FFC700 15px, transparent 15px);

  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.2em;
  text-decoration: none;

  margin-left: 15px;
}

.show-more-button {
  margin-top: 41px;
  margin-left: 0;
}

.show-more-button:hover {
  background-color: #FFC700;
}

.show-more-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-products {
  display: flex;
}

.filters-container {
  width: 200px;
  margin-right: 70px;
}

.sorting-container {
  display: flex;
  margin-bottom: 69px;
  padding: 20px 72px;
  padding-right: 0;
  box-sizing: border-box;
}

.sorting-type {
  margin-right: auto;
}

.button-up,
.button-down {
  position: relative;
  width: 30px;
  height: 30px;
}

.button-up svg,
.button-down svg {
  position: absolute;
  content: '';
  background-image: url("/img/icons/sort.svg");
  background-size: 11px 10px;
  width: 11px;
  height: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0.2;
}

.button-down svg {
  transform: rotate(180deg);
}

.button-up:hover svg,
.button-down:hover svg{
  opacity: 0.5;
}

.button-up:active svg,
.button-down:active svg,
.sort-active svg {
  opacity: 1;
}

.button-up:focus,
.button-down:focus{
  outline: 5px solid #AF4FFF;
}

.catalog-filters-name {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filters-group {
  border: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.catalog-filters-group:first-of-type {
  margin-top: 83px;
}

.catalog-filters-group:nth-of-type(2) {
  margin-top: 48px;
}

.catalog-filters-group:last-of-type {
  margin-top: 57px;
}

.catalog-filters-title {
  line-height: 20px;
  font-weight: bold;
  margin-bottom: 28px;
}

.catalog-filters-group::before {
  content:'';
  position: absolute;
  left: 0;
  right: 69px;
  top: -64px;
  border-top: 2px solid #000000;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-right: 69px;
  margin-bottom: 15px;
  background-color: #DCDCDC;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #EBEBEB;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box;
}

.range-toggle:focus {
  border-color: #AF4FFF;
  background: #EBEBEB;
}

.range-toggle:active {
  background-color: #000000;
  border-color: #000000;
}

.toggle-min {
  top: -8px;
  left: -9px;
}

.toggle-max {
  top: -8px;
  right: -9px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: flex-start;
  opacity: 0.3;
}

.price-sorting {
  display: flex;
  margin-right: 5px;
  font-size: 15px;
  line-height: 18px;
}

.range-input {
  width: 30px;
  padding: 0 2px;
  font: inherit;
  text-align: start;
  background-color: transparent;
  border: none;
  appearance: textfield;
  margin-right: 35px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.control-label,
.select-control {
  font-size: 16px;
  line-height: 19px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 5px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  border-radius: 3px;
  background: #EBEBEB;
  opacity: 0.2;
}

.control-input:checked + .control-mark {
  opacity: 1;
}

.control:hover .control-input:checked + .control-mark {
  opacity: 0.5;
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/img/icons/tick.svg");
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #242424;
  border-radius: 50%;
  content: "";
}

.catalog-filters-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filters-item:not(:last-child) {
  margin-bottom: 11px;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  width: 410px;
  margin-right: auto;
}

.select-control {
  width: 225px;
  padding: 4px 12px 7px;
  font-family: Rubik, sans-serif;
  background-color: transparent;
  border: none;
  background-image: url("/img/icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 15px center;
  appearance: none;
  margin-left: 35px;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:focus {
  outline: 5px solid #AF4FFF;
}

.select-control:active {
  opacity: 0.3;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  list-style-type: none;
  margin: 0;
  margin-left: 72px;
  margin-bottom: 44px;
  padding: 0;
  gap: 40px;
}

.product-card {
  position: relative;
  display: grid;
  grid-template-rows: 380px auto;
  grid-template-columns: 280px min-content;
  gap: 32px 14px;
}

.button-hover-container {
  display: none;
  position: absolute;
  width: 360px;
  height: 380px;

  background-color: rgba(240, 240, 240, 0.8);
}

.button-card {
  display: block;
  width: 180px;
  margin: auto;
  margin-top: 170px;
}

.product-card:hover .button-hover-container,
.current-card .button-hover-container {
  display: block;
}

.product-card:focus img {
  outline: 5px solid #AF4FFF;
}

.product-card-image-link {
  grid-column: 1 / -1;
  background-color: #EBEBEB;
}

.product-card-image-link:focus {
  outline: 5px solid #AF4FFF;
}

.product-card-image-link:focus + a {
  color: #AF4FFF;
}

.product-card-title-link {
  grid-column: 1 / 2;
  text-decoration: none;
  color: #000000;
}

.product-card-title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.product-card-price {
  line-height: 21px;
  color: #444444;
  grid-column: 2 / 3;
  justify-self: end;
}

.new-product .new-sign {
  display: block;
}

.new-sign {
  position: absolute;
  display: none;
  width: 60px;
  height: 60px;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  box-sizing: border-box;
  font-family: "Raleway" sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding-top: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);

  right: 27px;
  top: 27px;
}

.download-more {
  width: 760px;
  padding: 15px;
  margin-left: 72px;
  margin-bottom: 50px;
  box-sizing: border-box;

  background-color: transparent;
  border: 3px solid rgba(0, 0, 0, 0.1);

  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.download-more:hover {
  border: 3px solid rgba(0, 0, 0, 1);
}

.download-more:focus {
  outline: 5px solid #AF4FFF;
  outline-offset: -2px;
}

.download-more:active {
  opacity: 0.3;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 760px;
  margin-left: auto;
  margin-bottom: 77px;
  background-color: #EBEBEB;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  opacity: 0.3;
  text-decoration: none;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 5px solid transparent;
  text-align: center;
}

.pagination-link:hover {
  opacity: 1;
}

.pagination-link:focus {
  border-color: #AF4FFF;
}

.pagination-link:active {
  opacity: 0.1;
}

.pagination-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  padding: 20px 29px;
  background-color: transparent;
  border: none;
  height: 70px;
  width: 127px;
}

.pagination-button:hover {
  background-color: #DCDCDC;
}

.pagination-button:focus {
  outline: 5px solid #AF4FFF;
  outline-offset: -5px;
}

.pagination-button:active {
  background-color: transparent;
  opacity: 0.3;
}

.page-footer {
  background-color: #444444;
  color: #FFFFFF;
}

.page-footer a {
  color: #FFFFFF;
  text-decoration: none;
}

.footer-link {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 14px 20px 15px;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 25px;
}

.footer-link:hover {
  color: #FFC700;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.footer-link:focus {
  border-color: #AF4FFF;
}

.footer-link:active {
  color: #FFC700;
  text-decoration: underline;
  text-underline-offset: 8px;
  opacity: 0.3;
}

.footer-social-item {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  margin-right: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.social-link {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  padding: 11px 15px;
  border: 5px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
}

.social-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #444444;
}

.social-link:hover {
  background-color: #FFC700;
}

.social-link:focus {
  border-color: #AF4FFF;
}

.social-link:active svg {
  opacity: 0.3;
}

.footer-phone {
  display: block;
  font-size: 16px;
  line-height: 19px;
  border: 2px solid transparent;
  border-radius: 25px;
  padding: 3px 15px 5px;
  box-sizing: border-box;
  text-align: right;
  margin-bottom: 50px;
}

.footer-phone:hover {
  color: #FFC700;
}

.footer-phone:focus {
  border-color: #AF4FFF;
}

.footer-phone:active {
  color: #FFC700;
  opacity: 0.3;
}

.htmlacademy-link {
  display: block;
  width: 135px;
  height: 53px;
  padding: 10px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: 6px;
  border: 2px solid transparent;
  border-radius: 10px;
}

.htmlacademy-link svg {
  fill: #FFC700;
}

.htmlacademy-link:hover svg {
  fill: #FFFFFF;
  opacity: 1;
}

.htmlacademy-link:active svg {
  fill: #FFFFFF;
  opacity: 0.3;
}

.htmlacademy-link:focus {
  border-color: #AF4FFF;
}

.popover {
  position: absolute;
  top: 45px;
  right: -65px;
  z-index: 5;
  box-sizing: border-box;
  width: 250px;
  padding: 20px;
  font: inherit;
  color: #FFFFFF;
  background-color: #000000;
  min-height: 218px;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
  display: none;
}

.popover::before {
  position: absolute;
  top: -5px;
  left: 150px;
  width: 14px;
  height: 16px;
  background-color: transparent;
  background-image: url("/img/icons/popover-triangle.svg");
  background-repeat: no-repeat;
  content: '';
}

.popover-open {
  display: block;
}

.popover-cart {
  width: 320px;
}

.popover-content {
  height: 100%;
}

.popover-close-button {
  position: absolute;
  width: 25px;
  height: 25px;
  top: -33px;
  right: 150px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cart-items-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cart-item {
  display: grid;
  grid-template-columns: 41px 169px 11px;
  column-gap: 20px;
  margin-bottom: 20px;
}

.cart-item:not(:first-of-type) {
  margin-top: 40px;
}

.cart-item-title {
  margin: 0;
  line-height: 20px;
  grid-column: 2 / 3;
}

.cart-item-pic {
  grid-column: 1 / 2;
}

.cart-items-list svg {
  grid-column: 3 / 4;
}

.goods-price {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #1A1A1A;
}

.goods-price::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 20px;
  left: -20px;
  top: 0;
  background-color: #1A1A1A;
}

.goods-price::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 20px;
  right: -20px;
  top: 0;
  background-color: #1A1A1A;
}

.popover-cart-link {
  display: inline-block;
  background-color: #FFFFFF;
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 280px;
  box-sizing: border-box;
  padding: 15px;
  cursor: pointer;
  margin-top: 20px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 3;
}

.modal {
  position: relative;
  margin: auto;
  padding: 80px;
  background-color: #FFFFFF;
  border: 10px solid #000000;
  box-sizing: border-box;
}

.modal-title {
  margin-bottom: 58px;
}

.modal-delivery {
  width: 920px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 80px;
  right: 70px;
  width: 26px;
  height: 26px;
  padding: 23px;
  background-color: #ffffff;
  border: 5px solid transparent;
  border-radius: 50%;
  background-image: url("/img/icons/modal-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:focus {
  border-color: #AF4FFF;
}

.modal-close-button:hover {
  opacity: 0.3;
}

.delivery-form {
  display: grid;
  grid-template-columns: 360px 160px 160px;
  grid-template-rows: repeat(2, auto) 40px;
  gap: 40px;
}

.delivery-form .field-group {
  margin: 0;
}

.delivery-form .delivery-form-label {
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  font-weight: bold;
}

.delivery-form .delivery-form-field {
  padding: 20px;
  background-color: #F0F0F0;
  color: #000000;
  font-family: inherit;
  font-size: 16px;
  line-height: inherit;
  border: none;
  width: 360px;
  margin-top: 14px;
  box-sizing: border-box;
}

.delivery-form .delivery-form-field::placeholder {
  color: #000000;
}

.name-request {
  position: absolute;
  bottom: -25px;
  left: 0;
  color: #FF3D3D;
  font-size: 14px;
  line-height: 20px;
}

.about-email-text {
  position: absolute;
  bottom: -25px;
  left: 0;
  color: #000000;
  font-size: 14px;
  line-height: 20px;
}

.field-group-order .field {
  width: 560px;
}

.field-group-number .field {
  width: 160px;
}

.field-group-name .field,
.field-group-email .field {
  background-repeat: no-repeat;
  background-position: center right 20px;
}

.field-group-name .field {
  background-image: url("/img/icons/name-placeholder.svg");
  background-size: 13px 12px;
}

.field-group-email .field {
  background-image: url("/img/icons/email-placeholder.svg");
  background-size: 15px 12px;
}

.field-group-number .field {
  position: relative;
}

.field-group-name {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.field-group-email {
  position: relative;
  grid-column: 2 / -1;
  grid-row: 1 / 2;
}

.field-group-order {
  grid-column: 1 / 3;
  grid-row: 2 / -1;
}

.field-group-number {
  grid-column: 3 / -1;
  grid-row: 2 / -1;
}

.modal-container-close {
  display: none;
}
